body {
    height: 100%;
    display:flex;
    font-family: 'Open Sans', sans-serif;
    color:#0D2451;
    background-color:#FFFFFF;
    justify-content:center;
    align-items:center;
    font-size: 16px;
}