body {
    height: 100%;
    /* display:flex; */
    font-family: 'raleway', sans-serif;
    color:#696969;
    background-color:#FF9966;
    justify-content:center;
    /* align-items:center; */
    font-size: 16px;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}


button:focus {outline:0;}
